.popup{
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top:75px;
    transform: translate(-50%, -50%) scale(1);
}

.remove-form{
    visibility: hidden;
}